.bootTile_created{
    position: absolute;
    top: 10px;
    right: 10px;
    margin: 0;
}
.bootTile_title{
    font-size: 1.2em;
    font-weight: 500;
    margin: 20px 0 0 0;
}
.bootTile_addition{
    font-size: .8em;
    margin: 0;
}
.bootTile_published{
    font-size: .8em;
    margin: 0;
}
.bootTile_authors{
    margin: 10px 0 20px  0;
}
.bootTile_description_header{
    margin: 0 ;
}
.bootTile_description{
    margin: 0;
    padding: 0 10px;
    font-size: .9em;
}
.bootTile_subject{
    
}


.title_noIMG{
    top:300px;
    width:250px;
    position:absolute;
}


.tile_logo_noIMG{
    width:100px;
    inset: 0rem;
    position:absolute};