
.bootTile_subject {
    position: absolute;
    bottom: 0;
    width: 97%;
    left: 0;
    margin: 0;
    padding:0 0px 0 5px;
    height: 110px;
    overflow-y: scroll;
    overflow-x:hidden;
  }


/* style={{position:"absolute",
    bottom:"0",
    margin:" 0 10px 0 0",
    padding: " 0 10px 0 5px",
    height:"110px",
    overflowY:"scroll",
    left:"0"}} */



.bootTile_subject::-webkit-scrollbar {
    width: 7px;
  }



.bootTile_subject::-webkit-scrollbar-track {
    background: #313131; 
  }




  .bootTile_subject::-webkit-scrollbar-thumb {
    background: rgb(85, 85, 85); 
  }




.book_subject{
    margin: 3px;
    padding: 3px 5px;
    font-size: .7em;
    color:#ab27b1;
    background-color: #ffffff;
    border-radius: 3px;
    display: inline-block;
}


.bootTile_created{
    position: absolute;
    top: 10px;
    right: 10px;
    margin: 0;
}
.bootTile_title{
    font-size: 1.2em;
    font-weight: 500;
    margin: 20px 0 0 0;
}
.bootTile_addition{
    font-size: .8em;
    margin: 0;
}
.bootTile_published{
    font-size: .8em;
    margin: 0;
}
.bootTile_authors{
    margin: 10px 0 20px  0;
}
.bootTile_description_header{
    margin: 0 ;
}
.bootTile_description{
    margin: 0;
    max-height: 197px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 0 10px;
    font-size: .9em;
    /* border: 1px solid #cccccc; */
}




.bootTile_description::-webkit-scrollbar {
    width: 7px;
  }



  .bootTile_description::-webkit-scrollbar-track {
    background: #313131; 
  }
   
  /* Handle */
  .bootTile_description::-webkit-scrollbar-thumb {
    background: rgb(85, 85, 85); 
  }





.title_noIMG{
    top:300px;
    width:250px;
    margin: 0 0 0 10px;
    position:absolute;
}


.tile_logo_noIMG{
    width:100px;
    inset: 0rem;
    position:absolute
};


